Source: https://www.census.gov/geographies/mapping-files/time-series/geo/cartographic-boundary.html

In [1]:
import geopandas

In [387]:
shape_file = geopandas.read_file('./cb_2022_56_bg_500k.shp')

In [388]:
print(shape_file.crs)

EPSG:4269

In [389]:
shape_file = shape_file.to_crs("EPSG:4326")

In [390]:
shape_file.head()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,AFFGEOID,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER,geometry
0,56,031,959401,5,1500000US560319594015,560319594015,5,Block Group 5,BG,27983475,0,"POLYGON ((-105.06002 42.04597, -104.98253 42.0..."
1,56,043,000200,4,1500000US560430002004,560430002004,4,Block Group 4,BG,1111737931,2221141,"POLYGON ((-108.20175 43.82625, -108.19972 43.8..."
2,56,025,000200,4,1500000US560250002004,560250002004,4,Block Group 4,BG,1001981,0,"POLYGON ((-106.32518 42.85403, -106.31217 42.8..."
3,56,035,000104,1,1500000US560350001041,560350001041,1,Block Group 1,BG,2867651560,26263202,"POLYGON ((-109.79277 42.79878, -109.79303 42.8..."
4,56,003,962800,1,1500000US560039628001,560039628001,1,Block Group 1,BG,1065851817,22761656,"POLYGON ((-108.62184 44.99613, -108.62183 44.9..."

In [391]:
shape_file.count()

STATEFP     457
COUNTYFP    457
TRACTCE     457
BLKGRPCE    457
AFFGEOID    457
GEOID       457
NAME        457
NAMELSAD    457
LSAD        457
ALAND       457
AWATER      457
geometry    457
dtype: int64

In [392]:
state = input("State?")

In [393]:
shape_file.to_file(f'{state}.geojson', driver='GeoJSON')